
;; Function main (main, funcdef_no=0, decl_uid=3482, cgraph_uid=1, symbol_order=0)

Removing basic block 91
Removing basic block 10
Removing basic block 33
Removing basic block 38
Removing basic block 56
Removing basic block 61
Removing basic block 66
Removing basic block 82
Merging blocks 89 and 90
;; 2 loops found
;;
;; Loop 0
;;  header 0, latch 1
;;  depth 0, outer -1
;;  nodes: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83
;;
;; Loop 1
;;  header 81, multiple latches: 10 15 23 25 27 31 35 42 48 52 56 60 66 69 74 77 79 80 30 34 51 55 59 72 75
;;  depth 1, outer 0
;;  nodes: 81 10 15 23 25 27 31 35 42 48 52 56 60 66 69 74 77 79 80 30 34 51 55 59 72 75 73 71 70 68 67 62 61 57 53 49 44 43 37 36 32 28 26 24 16 14 12 11 9 8 6 7 4 5 3 58 54 50 33 29 78 76 64 65 63 46 47 45 40 41 38 39 19 21 22 20 17 18
;; 2 succs { 81 }
;; 3 succs { 4 10 }
;; 4 succs { 5 6 }
;; 5 succs { 6 }
;; 6 succs { 7 8 }
;; 7 succs { 8 }
;; 8 succs { 9 11 }
;; 9 succs { 11 }
;; 10 succs { 81 }
;; 11 succs { 12 13 }
;; 12 succs { 14 }
;; 13 succs { 82 }
;; 14 succs { 15 16 }
;; 15 succs { 81 }
;; 16 succs { 17 24 }
;; 17 succs { 18 20 }
;; 18 succs { 19 20 }
;; 19 succs { 23 }
;; 20 succs { 21 22 }
;; 21 succs { 23 }
;; 22 succs { 23 }
;; 23 succs { 81 }
;; 24 succs { 25 26 }
;; 25 succs { 81 }
;; 26 succs { 27 28 }
;; 27 succs { 81 }
;; 28 succs { 29 32 }
;; 29 succs { 30 31 }
;; 30 succs { 81 }
;; 31 succs { 81 }
;; 32 succs { 33 36 }
;; 33 succs { 34 35 }
;; 34 succs { 81 }
;; 35 succs { 81 }
;; 36 succs { 38 37 }
;; 37 succs { 38 43 }
;; 38 succs { 39 41 }
;; 39 succs { 40 41 }
;; 40 succs { 42 }
;; 41 succs { 42 }
;; 42 succs { 81 }
;; 43 succs { 45 44 }
;; 44 succs { 45 49 }
;; 45 succs { 46 47 }
;; 46 succs { 48 }
;; 47 succs { 48 }
;; 48 succs { 81 }
;; 49 succs { 50 53 }
;; 50 succs { 51 52 }
;; 51 succs { 81 }
;; 52 succs { 81 }
;; 53 succs { 54 57 }
;; 54 succs { 55 56 }
;; 55 succs { 81 }
;; 56 succs { 81 }
;; 57 succs { 58 61 }
;; 58 succs { 59 60 }
;; 59 succs { 81 }
;; 60 succs { 81 }
;; 61 succs { 63 62 }
;; 62 succs { 63 67 }
;; 63 succs { 64 65 }
;; 64 succs { 66 }
;; 65 succs { 66 }
;; 66 succs { 81 }
;; 67 succs { 69 68 }
;; 68 succs { 69 70 }
;; 69 succs { 81 }
;; 70 succs { 71 76 }
;; 71 succs { 72 73 }
;; 72 succs { 81 }
;; 73 succs { 74 75 }
;; 74 succs { 81 }
;; 75 succs { 81 }
;; 76 succs { 77 78 }
;; 77 succs { 81 }
;; 78 succs { 79 80 }
;; 79 succs { 81 }
;; 80 succs { 81 }
;; 81 succs { 3 82 }
;; 82 succs { 83 }
;; 83 succs { 1 }
int main ()
{
  int player_location;
  int lights_on;
  int safe_unlocked;
  int desk_drawer_open;
  int has_book;
  int has_note;
  int has_key;
  int game_is_running;
  char player_input[100];
  int D.3599;

  <bb 2> :
  [c_files/adventure.c:10:9] game_is_running = 1;
  [c_files/adventure.c:14:9] has_key = 0;
  [c_files/adventure.c:15:9] has_note = 0;
  [c_files/adventure.c:16:9] has_book = 0;
  [c_files/adventure.c:17:9] desk_drawer_open = 0;
  [c_files/adventure.c:18:9] safe_unlocked = 0;
  [c_files/adventure.c:19:9] lights_on = 1;
  [c_files/adventure.c:20:9] player_location = 0;
  [c_files/adventure.c:23:5] __builtin_puts (&"======================================"[0]);
  [c_files/adventure.c:24:5] __builtin_puts (&"       ESCAPE THE FORGOTTEN LIBRARY"[0]);
  [c_files/adventure.c:25:5] __builtin_puts (&"======================================\n"[0]);
  [c_files/adventure.c:26:5] __builtin_puts (&"You awake with a start, your head throbbing. You are sitting in a plush armchair in a vast, dusty library."[0]);
  [c_files/adventure.c:27:5] __builtin_puts (&"The only exit is a large oak door to the north, which appears to be locked."[0]);
  [c_files/adventure.c:28:5] __builtin_puts (&"The air is still and silent. You need to find a way out.\n"[0]);
  [c_files/adventure.c:29:5] __builtin_puts (&"Type \'help\' to see available commands.\n"[0]);
  [c_files/adventure.c:33:11] goto <bb 81>; [INV]

  <bb 3> :
  [c_files/adventure.c:35:12] if (player_location == 0)
    goto <bb 4>; [INV]
  else
    goto <bb 10>; [INV]

  <bb 4> :
  [c_files/adventure.c:36:13] __builtin_puts (&"\n--- You are in the Library ---"[0]);
  [c_files/adventure.c:37:13] __builtin_puts (&"A grand room filled with towering bookshelves. A large **desk** sits in the center."[0]);
  [c_files/adventure.c:38:13] __builtin_puts (&"To the north is a heavy **door**. A dim **lamp** provides the only light."[0]);
  [c_files/adventure.c:39:15] if (has_book != 0)
    goto <bb 5>; [INV]
  else
    goto <bb 6>; [INV]

  <bb 5> :
  [c_files/adventure.c:40:17] __builtin_puts (&"You are holding a heavy leather-bound book."[0]);

  <bb 6> :
  [c_files/adventure.c:42:15] if (has_note != 0)
    goto <bb 7>; [INV]
  else
    goto <bb 8>; [INV]

  <bb 7> :
  [c_files/adventure.c:43:17] __builtin_puts (&"You have a crumpled note in your pocket."[0]);

  <bb 8> :
  [c_files/adventure.c:45:15] if (has_key != 0)
    goto <bb 9>; [INV]
  else
    goto <bb 11>; [INV]

  <bb 9> :
  [c_files/adventure.c:46:17] __builtin_puts (&"You are holding a small, ornate brass key."[0]);
  goto <bb 11>; [INV]

  <bb 10> :
  [c_files/adventure.c:49:14] __builtin_puts (&"\n--- You are in the Hallway ---"[0]);
  [c_files/adventure.c:50:14] __builtin_puts (&"You\'ve unlocked the door and stepped into a long, dark hallway. You are free!"[0]);
  [c_files/adventure.c:51:30] game_is_running = 0;
  [c_files/adventure.c:35:12 discrim 1] // predicted unlikely by continue predictor.
  [c_files/adventure.c:52:14] goto <bb 81>; [INV]

  <bb 11> :
  [c_files/adventure.c:57:9] printf ([c_files/adventure.c:57:16] "\n> ");
  [c_files/adventure.c:59:13] stdin.0_1 = stdin;
  [c_files/adventure.c:59:13] _2 = fgets ([c_files/adventure.c:59:13] &player_input, 100, stdin.0_1);
  [c_files/adventure.c:59:12 discrim 1] if (_2 != 0B)
    goto <bb 12>; [INV]
  else
    goto <bb 13>; [INV]

  <bb 12> :
  [c_files/adventure.c:61:26] _3 = strcspn ([c_files/adventure.c:61:26] &player_input, [c_files/adventure.c:61:26] "\n");
  [c_files/adventure.c:61:55 discrim 1] [c_files/adventure.c:61:25] player_input[_3] = 0;
  [0:0] goto <bb 14>; [INV]

  <bb 13> :
  [c_files/adventure.c:64:13] __builtin_puts (&"Error reading input. Exiting."[0]);
  [c_files/adventure.c:65:13] goto <bb 82>; [INV]

  <bb 14> :
  [c_files/adventure.c:72:13] _4 = strcmp ([c_files/adventure.c:72:13] &player_input, [c_files/adventure.c:72:13] "look");
  [c_files/adventure.c:72:12 discrim 1] if (_4 == 0)
    goto <bb 15>; [INV]
  else
    goto <bb 16>; [INV]

  <bb 15> :
  [c_files/adventure.c:73:13] __builtin_puts (&"You are in a large library. There is a desk, bookshelves, a door, and a lamp."[0]);
  [0:0] goto <bb 81>; [INV]

  <bb 16> :
  [c_files/adventure.c:74:20] _5 = strcmp ([c_files/adventure.c:74:20] &player_input, [c_files/adventure.c:74:20] "look desk");
  [c_files/adventure.c:74:19 discrim 1] if (_5 == 0)
    goto <bb 17>; [INV]
  else
    goto <bb 24>; [INV]

  <bb 17> :
  [c_files/adventure.c:75:13] __builtin_puts (&"The desk is made of dark mahogany. It has a single drawer and a small, locked **safe** built into its side."[0]);
  [c_files/adventure.c:76:16] if (desk_drawer_open != 0)
    goto <bb 18>; [INV]
  else
    goto <bb 20>; [INV]

  <bb 18> :
  [c_files/adventure.c:76:34 discrim 1] if (has_note == 0)
    goto <bb 19>; [INV]
  else
    goto <bb 20>; [INV]

  <bb 19> :
  [c_files/adventure.c:77:17] __builtin_puts (&"The drawer is open. Inside is a crumpled **note**."[0]);
  [c_files/adventure.c:77:17] goto <bb 23>; [INV]

  <bb 20> :
  [c_files/adventure.c:78:23] if (desk_drawer_open != 0)
    goto <bb 21>; [INV]
  else
    goto <bb 22>; [INV]

  <bb 21> :
  [c_files/adventure.c:79:17] __builtin_puts (&"The drawer is open and empty."[0]);
  [0:0] goto <bb 23>; [INV]

  <bb 22> :
  [c_files/adventure.c:81:18] __builtin_puts (&"The drawer is closed."[0]);

  <bb 23> :
  [0:0] goto <bb 81>; [INV]

  <bb 24> :
  [c_files/adventure.c:83:20] _6 = strcmp ([c_files/adventure.c:83:20] &player_input, [c_files/adventure.c:83:20] "look bookshelves");
  [c_files/adventure.c:83:19 discrim 1] if (_6 == 0)
    goto <bb 25>; [INV]
  else
    goto <bb 26>; [INV]

  <bb 25> :
  [c_files/adventure.c:84:13] __builtin_puts (&"Rows upon rows of books, most covered in a thick layer of dust. One **book** with a red cover seems out of place."[0]);
  [0:0] goto <bb 81>; [INV]

  <bb 26> :
  [c_files/adventure.c:85:20] _7 = strcmp ([c_files/adventure.c:85:20] &player_input, [c_files/adventure.c:85:20] "look door");
  [c_files/adventure.c:85:19 discrim 1] if (_7 == 0)
    goto <bb 27>; [INV]
  else
    goto <bb 28>; [INV]

  <bb 27> :
  [c_files/adventure.c:86:13] __builtin_puts (&"A heavy oak door. It is firmly locked. It has a brass keyhole."[0]);
  [0:0] goto <bb 81>; [INV]

  <bb 28> :
  [c_files/adventure.c:87:20] _8 = strcmp ([c_files/adventure.c:87:20] &player_input, [c_files/adventure.c:87:20] "look lamp");
  [c_files/adventure.c:87:19 discrim 1] if (_8 == 0)
    goto <bb 29>; [INV]
  else
    goto <bb 32>; [INV]

  <bb 29> :
  [c_files/adventure.c:88:16] if (lights_on != 0)
    goto <bb 30>; [INV]
  else
    goto <bb 31>; [INV]

  <bb 30> :
  [c_files/adventure.c:89:18] __builtin_puts (&"A simple desk lamp. It\'s currently on. You could probably \'turn off lamp\'."[0]);
  [0:0] goto <bb 81>; [INV]

  <bb 31> :
  [c_files/adventure.c:91:19] __builtin_puts (&"The lamp is off. The room is now pitch black, but you see a faint number glowing on the safe: 852."[0]);
  goto <bb 81>; [INV]

  <bb 32> :
  [c_files/adventure.c:93:20] _9 = strcmp ([c_files/adventure.c:93:20] &player_input, [c_files/adventure.c:93:20] "look safe");
  [c_files/adventure.c:93:19 discrim 1] if (_9 == 0)
    goto <bb 33>; [INV]
  else
    goto <bb 36>; [INV]

  <bb 33> :
  [c_files/adventure.c:94:16] if (lights_on != 0)
    goto <bb 34>; [INV]
  else
    goto <bb 35>; [INV]

  <bb 34> :
  [c_files/adventure.c:95:18] __builtin_puts (&"A small metal safe with a three-digit combination lock. It\'s too bright to see any details on the dial."[0]);
  [0:0] goto <bb 81>; [INV]

  <bb 35> :
  [c_files/adventure.c:97:19] __builtin_puts (&"In the dark, you can clearly see glowing numbers on the dial: 8-5-2."[0]);
  goto <bb 81>; [INV]

  <bb 36> :
  [c_files/adventure.c:102:18] _10 = strcmp ([c_files/adventure.c:102:18] &player_input, [c_files/adventure.c:102:18] "get note");
  [c_files/adventure.c:102:17 discrim 1] if (_10 == 0)
    goto <bb 38>; [INV]
  else
    goto <bb 37>; [INV]

  <bb 37> :
  [c_files/adventure.c:102:59 discrim 2] _11 = strcmp ([c_files/adventure.c:102:59] &player_input, [c_files/adventure.c:102:59] "take note");
  [c_files/adventure.c:102:56 discrim 3] if (_11 == 0)
    goto <bb 38>; [INV]
  else
    goto <bb 43>; [INV]

  <bb 38> :
  [c_files/adventure.c:103:16] if (desk_drawer_open != 0)
    goto <bb 39>; [INV]
  else
    goto <bb 41>; [INV]

  <bb 39> :
  [c_files/adventure.c:103:34 discrim 1] if (has_note == 0)
    goto <bb 40>; [INV]
  else
    goto <bb 41>; [INV]

  <bb 40> :
  [c_files/adventure.c:104:17] __builtin_puts (&"You take the note. It reads: \'The answer reveals itself only in darkness.\'"[0]);
  [c_files/adventure.c:105:26] has_note = 1;
  [c_files/adventure.c:105:26] goto <bb 42>; [INV]

  <bb 41> :
  [c_files/adventure.c:107:17] __builtin_puts (&"There is no note here."[0]);

  <bb 42> :
  [c_files/adventure.c:103:16] goto <bb 81>; [INV]

  <bb 43> :
  [c_files/adventure.c:109:20] _12 = strcmp ([c_files/adventure.c:109:20] &player_input, [c_files/adventure.c:109:20] "get book");
  [c_files/adventure.c:109:19 discrim 1] if (_12 == 0)
    goto <bb 45>; [INV]
  else
    goto <bb 44>; [INV]

  <bb 44> :
  [c_files/adventure.c:109:61 discrim 2] _13 = strcmp ([c_files/adventure.c:109:61] &player_input, [c_files/adventure.c:109:61] "take book");
  [c_files/adventure.c:109:58 discrim 3] if (_13 == 0)
    goto <bb 45>; [INV]
  else
    goto <bb 49>; [INV]

  <bb 45> :
  [c_files/adventure.c:110:16] if (has_book == 0)
    goto <bb 46>; [INV]
  else
    goto <bb 47>; [INV]

  <bb 46> :
  [c_files/adventure.c:111:17] __builtin_puts (&"You take the red book from the shelf. It\'s titled \'Principles of Locking Mechanisms\'. It seems useless."[0]);
  [c_files/adventure.c:112:26] has_book = 1;
  [0:0] goto <bb 48>; [INV]

  <bb 47> :
  [c_files/adventure.c:114:17] __builtin_puts (&"You already have the book."[0]);

  <bb 48> :
  [c_files/adventure.c:110:16] goto <bb 81>; [INV]

  <bb 49> :
  [c_files/adventure.c:119:18] _14 = strcmp ([c_files/adventure.c:119:18] &player_input, [c_files/adventure.c:119:18] "open drawer");
  [c_files/adventure.c:119:17 discrim 1] if (_14 == 0)
    goto <bb 50>; [INV]
  else
    goto <bb 53>; [INV]

  <bb 50> :
  [c_files/adventure.c:120:16] if (desk_drawer_open == 0)
    goto <bb 51>; [INV]
  else
    goto <bb 52>; [INV]

  <bb 51> :
  [c_files/adventure.c:121:17] __builtin_puts (&"You open the desk drawer. You hear a soft click."[0]);
  [c_files/adventure.c:122:34] desk_drawer_open = 1;
  [0:0] goto <bb 81>; [INV]

  <bb 52> :
  [c_files/adventure.c:124:17] __builtin_puts (&"The drawer is already open."[0]);
  goto <bb 81>; [INV]

  <bb 53> :
  [c_files/adventure.c:126:20] _15 = strcmp ([c_files/adventure.c:126:20] &player_input, [c_files/adventure.c:126:20] "turn off lamp");
  [c_files/adventure.c:126:19 discrim 1] if (_15 == 0)
    goto <bb 54>; [INV]
  else
    goto <bb 57>; [INV]

  <bb 54> :
  [c_files/adventure.c:127:17] if (lights_on != 0)
    goto <bb 55>; [INV]
  else
    goto <bb 56>; [INV]

  <bb 55> :
  [c_files/adventure.c:128:18] __builtin_puts (&"You switch off the lamp. The room plunges into darkness, unsettlingly quiet."[0]);
  [c_files/adventure.c:129:28] lights_on = 0;
  [0:0] goto <bb 81>; [INV]

  <bb 56> :
  [c_files/adventure.c:131:18] __builtin_puts (&"The lamp is already off."[0]);
  goto <bb 81>; [INV]

  <bb 57> :
  [c_files/adventure.c:133:20] _16 = strcmp ([c_files/adventure.c:133:20] &player_input, [c_files/adventure.c:133:20] "turn on lamp");
  [c_files/adventure.c:133:19 discrim 1] if (_16 == 0)
    goto <bb 58>; [INV]
  else
    goto <bb 61>; [INV]

  <bb 58> :
  [c_files/adventure.c:134:17] if (lights_on == 0)
    goto <bb 59>; [INV]
  else
    goto <bb 60>; [INV]

  <bb 59> :
  [c_files/adventure.c:135:18] __builtin_puts (&"You switch the lamp back on. The familiar, dusty room reappears."[0]);
  [c_files/adventure.c:136:28] lights_on = 1;
  [0:0] goto <bb 81>; [INV]

  <bb 60> :
  [c_files/adventure.c:138:18] __builtin_puts (&"The lamp is already on."[0]);
  goto <bb 81>; [INV]

  <bb 61> :
  [c_files/adventure.c:140:20] _17 = strcmp ([c_files/adventure.c:140:20] &player_input, [c_files/adventure.c:140:20] "use key on door");
  [c_files/adventure.c:140:19 discrim 1] if (_17 == 0)
    goto <bb 63>; [INV]
  else
    goto <bb 62>; [INV]

  <bb 62> :
  [c_files/adventure.c:140:68 discrim 2] _18 = strcmp ([c_files/adventure.c:140:68] &player_input, [c_files/adventure.c:140:68] "unlock door");
  [c_files/adventure.c:140:65 discrim 3] if (_18 == 0)
    goto <bb 63>; [INV]
  else
    goto <bb 67>; [INV]

  <bb 63> :
  [c_files/adventure.c:141:16] if (has_key != 0)
    goto <bb 64>; [INV]
  else
    goto <bb 65>; [INV]

  <bb 64> :
  [c_files/adventure.c:142:17] __builtin_puts (&"You insert the brass key into the lock. With a satisfying *CLUNK*, the door unlocks!"[0]);
  [c_files/adventure.c:143:17] __builtin_puts (&"You push the door open."[0]);
  [c_files/adventure.c:144:33] player_location = 1;
  [0:0] goto <bb 66>; [INV]

  <bb 65> :
  [c_files/adventure.c:146:17] __builtin_puts (&"You don\'t have a key."[0]);

  <bb 66> :
  [c_files/adventure.c:141:16] goto <bb 81>; [INV]

  <bb 67> :
  [c_files/adventure.c:148:20] _19 = strcmp ([c_files/adventure.c:148:20] &player_input, [c_files/adventure.c:148:20] "open safe");
  [c_files/adventure.c:148:19 discrim 1] if (_19 == 0)
    goto <bb 69>; [INV]
  else
    goto <bb 68>; [INV]

  <bb 68> :
  [c_files/adventure.c:148:62 discrim 2] _20 = strcmp ([c_files/adventure.c:148:62] &player_input, [c_files/adventure.c:148:62] "unlock safe");
  [c_files/adventure.c:148:59 discrim 3] if (_20 == 0)
    goto <bb 69>; [INV]
  else
    goto <bb 70>; [INV]

  <bb 69> :
  [c_files/adventure.c:149:13] __builtin_puts (&"You need to enter the combination. Type \'enter code XXX\' where XXX is the 3-digit number."[0]);
  [c_files/adventure.c:149:13] goto <bb 81>; [INV]

  <bb 70> :
  [c_files/adventure.c:150:20] _21 = strncmp ([c_files/adventure.c:150:20] &player_input, [c_files/adventure.c:150:20] "enter code ", 11);
  [c_files/adventure.c:150:19 discrim 1] if (_21 == 0)
    goto <bb 71>; [INV]
  else
    goto <bb 76>; [INV]

  <bb 71> :
  [c_files/adventure.c:151:16] if (safe_unlocked != 0)
    goto <bb 72>; [INV]
  else
    goto <bb 73>; [INV]

  <bb 72> :
  [c_files/adventure.c:152:17] __builtin_puts (&"The safe is already open."[0]);
  [0:0] goto <bb 81>; [INV]

  <bb 73> :
  [c_files/adventure.c:153:24] _22 = strcmp ([c_files/adventure.c:153:24] &player_input, [c_files/adventure.c:153:24] "enter code 852");
  [c_files/adventure.c:153:23 discrim 1] if (_22 == 0)
    goto <bb 74>; [INV]
  else
    goto <bb 75>; [INV]

  <bb 74> :
  [c_files/adventure.c:154:17] __builtin_puts (&"You dial in 8-5-2. The safe door swings open silently. Inside, you find a small brass **key**!"[0]);
  [c_files/adventure.c:155:31] safe_unlocked = 1;
  [c_files/adventure.c:156:25] has_key = 1;
  [0:0] goto <bb 81>; [INV]

  <bb 75> :
  [c_files/adventure.c:158:17] __builtin_puts (&"Incorrect code. The lock clicks but doesn\'t open."[0]);
  goto <bb 81>; [INV]

  <bb 76> :
  [c_files/adventure.c:163:18] _23 = strcmp ([c_files/adventure.c:163:18] &player_input, [c_files/adventure.c:163:18] "help");
  [c_files/adventure.c:163:17 discrim 1] if (_23 == 0)
    goto <bb 77>; [INV]
  else
    goto <bb 78>; [INV]

  <bb 77> :
  [c_files/adventure.c:164:13] __builtin_puts (&"\n--- Available Commands ---"[0]);
  [c_files/adventure.c:165:13] __builtin_puts (&"Actions: look, get/take, open, use, enter code, turn on/off"[0]);
  [c_files/adventure.c:166:13] __builtin_puts (&"Objects: desk, bookshelves, door, lamp, note, book, safe, drawer"[0]);
  [c_files/adventure.c:167:13] __builtin_puts (&"Example: \'look desk\', \'get note\', \'use key on door\', \'turn off lamp\'"[0]);
  [c_files/adventure.c:168:13] __builtin_puts (&"System: \'help\', \'quit\'"[0]);
  [0:0] goto <bb 81>; [INV]

  <bb 78> :
  [c_files/adventure.c:169:20] _24 = strcmp ([c_files/adventure.c:169:20] &player_input, [c_files/adventure.c:169:20] "quit");
  [c_files/adventure.c:169:19 discrim 1] if (_24 == 0)
    goto <bb 79>; [INV]
  else
    goto <bb 80>; [INV]

  <bb 79> :
  [c_files/adventure.c:170:13] __builtin_puts (&"You give up and accept your fate as a permanent resident of the library."[0]);
  [c_files/adventure.c:171:29] game_is_running = 0;
  [0:0] goto <bb 81>; [INV]

  <bb 80> :
  [c_files/adventure.c:173:13] printf ([c_files/adventure.c:173:20] "I don\'t understand how to \'%s\'. Try something else.\n", [c_files/adventure.c:173:77] &player_input);

  <bb 81> :
  [c_files/adventure.c:33:12] if (game_is_running != 0)
    goto <bb 3>; [INV]
  else
    goto <bb 82>; [INV]

  <bb 82> :
  [c_files/adventure.c:178:5] __builtin_puts (&"\n======================================"[0]);
  [c_files/adventure.c:179:5] __builtin_puts (&"            THANKS FOR PLAYING!"[0]);
  [c_files/adventure.c:180:5] __builtin_puts (&"======================================"[0]);
  [c_files/adventure.c:182:12] D.3599 = 0;
  player_input = {CLOBBER(eos)};

  <bb 83> :
<L106>:
  return D.3599;

}


